.graph-selectors {
    width: 60%;
    height: 40%;
    left: 20%;
    top: 10%;
    background-color: gray;
}

#search-input {
    width: 60%;
    left: 20%;
    background-color: aqua;
    padding: 1%;
}